.sv_q_rating_min_text,
.sv_q_rating_max_text {
    display: inline-block;
    width: 10em;
    vertical-align: middle;
    font-size: smaller;
    line-height: normal;
}

/* .sv_qstn {
    width: 1000px;
} */